/* ClashDispaly Font */
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../public/assets/fonts/ClashDisplay/ClashDisplay-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../public/assets/fonts/ClashDisplay/ClashDisplay-Medium.otf') format('opentype');
}

/* Barlow Font */
.barlow-thin {
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-extralight-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-light-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-regular-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-medium-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semibold-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-bold-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-extrabold-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-black-italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Global CSS */

* {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.shadow-drop:hover {
  filter: drop-shadow(5px 5px 0 #00000044);
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover > svg.moonSvg * {
  fill: black;
  stroke: black;
}

.hero-heading::before {
  content: '';
  position: absolute;
  top: -32px;
  left: -50px;
  width: 57.55px;
  height: 81.23px;
  background-image: url('../public/assets/three-lines.svg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bg-lines {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-lines::before {
  content: url('./assets/Hexa-Spiral.svg');
  display: block;
  position: absolute;
  right: 0;
  z-index: -1;
}
