/* Global CSS */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.onestFam {
  font-family: 'Onest', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

::selection {
  background: #ffc70f;
  color: black;
}

::-moz-selection {
  background: #ffc70f;
  color: black;
}

.shadow-drop:hover {
  filter: drop-shadow(5px 5px 0 #00000044);
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover > svg.moonSvg * {
  fill: black;
  stroke: black;
}

.allBtn::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: -19rem;
  width: 273px;
  height: 125px;
  background-image: url('/assets/arrowShape.png');
  background-repeat: no-repeat;
  background-position: left center;
}

:is(.dark .allBtn)::before {
  background-image: url('/assets/arrowShapeDark.png');
}

.text-mask {
  -webkit-mask-image: url('/assets/text-mask.png');
  mask-image: url('/assets/text-mask.png');
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  -webkit-mask-size: 250px;
  mask-size: 250px;
}
